.profile{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    background-color: #131111;
}
.profile-img img{
    height: 40vh;
    border-radius: 50%;
    width: 40vh;
    display: block;
}

.intro h1{
    color: rgb(167, 167, 167);
    font-size: 3em;
    font-weight: 800;
    letter-spacing: 2px;
}

.intro h3{
    color: rgb(167, 167, 167);
    font-size: 2em;
    letter-spacing: 3px;
}

.about-btn button{
    width: 18ch;
    height: 7vh;
    background-color: transparent;
    border: 1px solid rgb(167, 167, 167);
    color: rgb(167, 167, 167);
    font-size: 1em;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
}

.about-btn button:hover{
    cursor: pointer;
    color: rgb(230, 27, 27);
    border: 1px solid rgb(230, 27, 27);

}